In [1]:
# отключаем предупреждения
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
clf_data = pd.read_csv('C:/Trees/xtrain.csv', sep=',')
clf_target = pd.read_csv('C:/Trees/ytrain.csv', sep=',')

In [4]:
# Посмотрим на данные
clf_data.head()

,1,2,3,4,5,6,7,8,9,10,...,49,50,51,52,53,54,55,56,57,58
0,-42.822536,NaN,12.0,NaN,1.0,2.0,24.0,-45.025510,NaN,1.0,...,17.871210,4.0,15.0,21.863365,-13.349394,-2.215086,-5.137377,20.904186,53.939262,-17.328346
1,-13.478816,13.0,12.0,75.132502,0.0,2.0,24.0,-49.213545,7.0,0.0,...,21.511019,2.0,13.0,-2.880103,21.739125,5.464161,-30.347612,23.304507,47.746225,-47.305489
2,51.702721,13.0,12.0,63.459270,0.0,3.0,24.0,-58.777043,8.0,0.0,...,NaN,3.0,16.0,21.851623,NaN,7.471764,-12.348314,34.406243,34.479515,-33.326172
3,NaN,12.0,13.0,-15.492561,1.0,1.0,23.0,0.624258,9.0,0.0,...,16.964848,2.0,15.0,-25.128119,-26.858262,54.203501,10.341217,29.080753,40.235855,-35.835956
4,7.633273,NaN,13.0,59.862681,0.0,3.0,NaN,-61.395319,NaN,0.0,...,8.467076,4.0,14.0,30.610006,-15.663721,38.323843,-65.561821,33.965883,50.245794,-44.018245

In [5]:
clf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 58 columns):
1     820529 non-null float64
2     808921 non-null float64
3     831550 non-null float64
4     828051 non-null float64
5     819375 non-null float64
6     796632 non-null float64
7     791582 non-null float64
8     796405 non-null float64
9     840044 non-null float64
10    794046 non-null float64
11    792089 non-null float64
12    822082 non-null float64
13    801824 non-null float64
14    822891 non-null float64
15    785297 non-null float64
16    822112 non-null float64
17    804309 non-null float64
18    807722 non-null float64
19    857586 non-null float64
20    829599 non-null float64
21    803971 non-null float64
22    813872 non-null float64
23    768612 non-null float64
24    823381 non-null float64
25    809400 non-null float64
26    823554 non-null float64
27    792591 non-null float64
28    812095 non-null float64
29    786992 non-null float64
30    821643 non-null float64
31    827947 non-null float64
32    820935 non-null float64
33    815735 non-null float64
34    815943 non-null float64
35    800966 non-null float64
36    815103 non-null float64
37    831796 non-null float64
38    816783 non-null float64
39    812253 non-null float64
40    786253 non-null float64
41    832848 non-null float64
42    844694 non-null float64
43    820059 non-null float64
44    794462 non-null float64
45    806247 non-null float64
46    820501 non-null float64
47    813624 non-null float64
48    807994 non-null float64
49    803958 non-null float64
50    836761 non-null float64
51    798606 non-null float64
52    843544 non-null float64
53    814017 non-null float64
54    812818 non-null float64
55    800856 non-null float64
56    812926 non-null float64
57    835366 non-null float64
58    786115 non-null float64
dtypes: float64(58)
memory usage: 398.3 MB

In [6]:
# Посмотрим основные статистические параметры 
clf_data.describe()

,1,2,3,4,5,6,7,8,9,10,...,49,50,51,52,53,54,55,56,57,58
count,820529.000000,808921.000000,831550.000000,828051.000000,819375.000000,796632.000000,791582.000000,796405.000000,840044.000000,794046.000000,...,803958.000000,836761.000000,798606.000000,843544.000000,814017.000000,812818.000000,800856.000000,812926.000000,835366.000000,786115.000000
mean,11.012513,12.329729,11.344055,25.406132,0.313465,2.180648,23.222268,-46.304667,7.901558,0.269151,...,20.596154,2.982181,14.680950,24.042950,-19.295371,16.461962,-25.783931,26.158484,38.320750,-37.013222
std,99.986889,0.796650,1.662548,20.636810,0.536960,0.771303,0.867651,19.875120,1.286734,0.443519,...,6.409154,1.097207,2.301128,29.146244,47.647342,45.131263,23.565330,8.508795,5.995944,15.246010
min,-480.088690,7.000000,3.000000,-72.310070,0.000000,0.000000,17.000000,-138.181159,1.000000,0.000000,...,-11.358178,0.000000,4.000000,-115.421307,-246.217734,-197.419313,-136.146509,-14.899675,9.648201,-112.352665
25%,-56.357813,12.000000,10.000000,11.492726,0.000000,2.000000,23.000000,-59.736287,7.000000,0.000000,...,16.278806,2.000000,13.000000,4.395491,-51.462848,-13.974363,-41.718505,20.427519,34.264541,-47.312376
50%,11.029669,13.000000,11.000000,25.421574,0.000000,2.000000,23.000000,-46.305721,8.000000,0.000000,...,20.605346,3.000000,15.000000,24.050412,-19.318562,16.460499,-25.779677,26.149082,38.316862,-36.990170
75%,78.379658,13.000000,13.000000,39.346755,1.000000,3.000000,24.000000,-32.910540,9.000000,1.000000,...,24.915043,4.000000,16.000000,43.716637,12.907192,46.941529,-9.868830,31.893980,42.376050,-26.696559
max,545.896248,13.000000,15.000000,128.900592,4.000000,3.000000,24.000000,55.334255,10.000000,1.000000,...,51.729840,5.000000,23.000000,164.653264,209.925962,226.741140,81.935811,73.609990,69.557056,41.368872

In [7]:
for i in clf_data:
    print(i, clf_data[i].nunique())

1 820529
2 7
3 13
4 828051
5 5
6 4
7 8
8 796405
9 10
10 2
11 792089
12 822004
13 801824
14 822891
15 13
16 822112
17 14
18 13
19 857586
20 829599
21 19
22 13
23 4
24 16
25 809400
26 18
27 22
28 812095
29 13
30 6
31 6
32 10
33 815735
34 815943
35 800966
36 14
37 831796
38 816783
39 812253
40 786253
41 832848
42 844694
43 820059
44 4
45 9
46 820501
47 2
48 14
49 803958
50 6
51 20
52 843544
53 814017
54 812818
55 800856
56 812926
57 835365
58 786115

In [8]:
cat_var = clf_data.loc[:, clf_data.apply(pd.Series.nunique) < 30].columns
for i in cat_var:
    clf_data[i] = clf_data[i].astype('object')
    
clf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 58 columns):
1     820529 non-null float64
2     808921 non-null object
3     831550 non-null object
4     828051 non-null float64
5     819375 non-null object
6     796632 non-null object
7     791582 non-null object
8     796405 non-null float64
9     840044 non-null object
10    794046 non-null object
11    792089 non-null float64
12    822082 non-null float64
13    801824 non-null float64
14    822891 non-null float64
15    785297 non-null object
16    822112 non-null float64
17    804309 non-null object
18    807722 non-null object
19    857586 non-null float64
20    829599 non-null float64
21    803971 non-null object
22    813872 non-null object
23    768612 non-null object
24    823381 non-null object
25    809400 non-null float64
26    823554 non-null object
27    792591 non-null object
28    812095 non-null float64
29    786992 non-null object
30    821643 non-null object
31    827947 non-null object
32    820935 non-null object
33    815735 non-null float64
34    815943 non-null float64
35    800966 non-null float64
36    815103 non-null object
37    831796 non-null float64
38    816783 non-null float64
39    812253 non-null float64
40    786253 non-null float64
41    832848 non-null float64
42    844694 non-null float64
43    820059 non-null float64
44    794462 non-null object
45    806247 non-null object
46    820501 non-null float64
47    813624 non-null object
48    807994 non-null object
49    803958 non-null float64
50    836761 non-null object
51    798606 non-null object
52    843544 non-null float64
53    814017 non-null float64
54    812818 non-null float64
55    800856 non-null float64
56    812926 non-null float64
57    835366 non-null float64
58    786115 non-null float64
dtypes: float64(31), object(27)
memory usage: 398.3+ MB

In [9]:
for i in cat_var:
     print(clf_data[i].value_counts(dropna=False))

 13.0    406337
 12.0    287345
 11.0     93894
NaN       91079
 10.0     18588
 9.0       2504
 8.0        235
 7.0         18
Name: 2, dtype: int64
 12.0    192149
 11.0    185130
 13.0    137102
 10.0    131410
 9.0      70897
NaN       68450
 14.0     60891
 8.0      29005
 15.0     12582
 7.0       9472
 6.0       2389
 5.0        463
 4.0         55
 3.0          5
Name: 3, dtype: int64
 0.0    591036
 1.0    201265
NaN      80625
 2.0     25661
 3.0      1394
 4.0        19
Name: 5, dtype: int64
 2.0    345372
 3.0    305695
 1.0    129345
NaN     103368
 0.0     16220
Name: 6, dtype: int64
 24.0    358970
 23.0    288886
 22.0    110779
NaN      108418
 21.0     27376
 20.0      4856
 19.0       654
 18.0        54
 17.0         7
Name: 7, dtype: int64
 8.0     253688
 9.0     211470
 7.0     179146
 6.0      82909
 10.0     79462
NaN       59956
 5.0      26457
 4.0       5909
 3.0        904
 2.0         94
 1.0          5
Name: 9, dtype: int64
 0.0    580328
 1.0    213718
NaN     105954
Name: 10, dtype: int64
 17.0    190579
 18.0    181433
 16.0    141921
NaN      114703
 19.0    108655
 15.0     79822
 14.0     34825
 20.0     31262
 13.0     12282
 12.0      3497
 11.0       845
 10.0       148
 9.0         25
 8.0          3
Name: 15, dtype: int64
 17.0    185829
 16.0    169022
 18.0    145916
 15.0    114700
NaN       95691
 19.0     72081
 14.0     61217
 13.0     26261
 20.0     16929
 12.0      9073
 11.0      2568
 10.0       569
 9.0        115
 8.0         23
 7.0          6
Name: 17, dtype: int64
 3.0     202795
 4.0     170033
 2.0     165311
 5.0     102677
NaN       92278
 1.0      82268
 6.0      45654
 0.0      18855
 7.0      15457
 8.0       3835
 9.0        719
 10.0       108
 12.0         5
 11.0         5
Name: 18, dtype: int64
 3.0     157860
 4.0     156841
 5.0     125250
 2.0     117958
NaN       96029
 6.0      83539
 1.0      59166
 7.0      47406
 8.0      23957
 0.0      14620
 9.0      10843
 10.0      4246
 11.0      1575
 12.0       481
 13.0       155
 14.0        53
 15.0        14
 16.0         5
 17.0         1
 19.0         1
Name: 21, dtype: int64
 4.0     184498
 5.0     178581
 3.0     135397
 6.0     126743
NaN       86128
 2.0      67238
 7.0      65641
 8.0      24972
 1.0      20022
 9.0       6704
 0.0       2696
 10.0      1246
 11.0       126
 12.0         8
Name: 22, dtype: int64
 2.0    341256
 3.0    208648
 1.0    185081
NaN     131388
 0.0     33627
Name: 23, dtype: int64
 5.0     170815
 6.0     151530
 4.0     146322
 7.0     106845
 3.0      93727
NaN       76619
 8.0      59138
 2.0      42283
 9.0      26539
 1.0      12026
 10.0      9358
 11.0      2599
 0.0       1512
 12.0       584
 13.0        85
 14.0        17
 15.0         1
Name: 24, dtype: int64
 14.0    157175
 13.0    140886
 15.0    140783
 12.0    102631
 16.0     97105
NaN       76446
 11.0     61695
 17.0     50806
 10.0     30423
 18.0     19083
 9.0      12352
 19.0      4452
 8.0       4181
 7.0       1153
 20.0       518
 6.0        260
 5.0         45
 4.0          4
 3.0          2
Name: 26, dtype: int64
 13.0    131659
 14.0    121083
 12.0    120636
NaN      107409
 11.0     93910
 15.0     93770
 10.0     61425
 16.0     60097
 9.0      34196
 17.0     31561
 8.0      15746
 18.0     13622
 7.0       6246
 19.0      4570
 6.0       2046
 20.0      1133
 5.0        496
 21.0       242
 4.0        104
 22.0        27
 3.0         19
 2.0          2
 23.0         1
Name: 27, dtype: int64
 3.0     193497
 2.0     174728
 4.0     150067
NaN      113008
 1.0      98647
 5.0      87037
 6.0      38510
 0.0      26141
 7.0      13469
 8.0       3891
 9.0        837
 10.0       144
 11.0        20
 12.0         4
Name: 29, dtype: int64
 0.0    495210
 1.0    264251
NaN      78357
 2.0     55990
 3.0      5862
 4.0       323
 5.0         7
Name: 30, dtype: int64
 4.0    322684
 3.0    226125
 5.0    184863
 2.0     79333
NaN      72053
 1.0     13964
 0.0       978
Name: 31, dtype: int64
 4.0    209029
 3.0    201056
 5.0    144172
 2.0    124376
NaN      79065
 6.0     66452
 1.0     45102
 7.0     19796
 0.0      7329
 8.0      3347
 9.0       276
Name: 32, dtype: int64
 3.0     191500
 4.0     177747
 2.0     141769
 5.0     122343
NaN       84897
 1.0      65652
 6.0      64255
 7.0      26390
 0.0      14335
 8.0       8486
 9.0       2142
 10.0       414
 11.0        62
 12.0         7
 13.0         1
Name: 36, dtype: int64
 1.0    348555
 0.0    283107
 2.0    143005
NaN     105538
 3.0     19795
Name: 44, dtype: int64
 11.0    306340
 12.0    241953
 10.0    177647
NaN       93753
 9.0      62432
 8.0      14947
 7.0       2608
 6.0        287
 5.0         32
 4.0          1
Name: 45, dtype: int64
 0.0    666475
 1.0    147149
NaN      86376
Name: 47, dtype: int64
 4.0     188813
 3.0     160623
 5.0     159037
 6.0      99320
 2.0      93318
NaN       92006
 7.0      46849
 1.0      33276
 8.0      16331
 0.0       5258
 9.0       4246
 10.0       808
 11.0        98
 12.0        16
 13.0         1
Name: 48, dtype: int64
 3.0    289481
 4.0    213372
 2.0    195458
 1.0     66186
 5.0     63268
NaN      63239
 0.0      8996
Name: 50, dtype: int64
 15.0    136206
 14.0    128823
 16.0    120763
 13.0    102502
NaN      101394
 17.0     87499
 12.0     68677
 18.0     51739
 11.0     38774
 19.0     23436
 10.0     18286
 20.0      8402
 9.0       7490
 8.0       2607
 21.0      2162
 7.0        685
 22.0       321
 6.0        166
 5.0         36
 23.0        27
 4.0          5
Name: 51, dtype: int64

In [10]:
for i in cat_var:
    clf_data[i] = np.where(clf_data[i].isnull(), '9999', clf_data[i])

In [11]:
for i in cat_var:
     print(clf_data[i].value_counts(dropna=False))

13.0     406337
12.0     287345
11.0      93894
-9999     91079
10.0      18588
9.0        2504
8.0         235
7.0          18
Name: 2, dtype: int64
12.0     192149
11.0     185130
13.0     137102
10.0     131410
9.0       70897
-9999     68450
14.0      60891
8.0       29005
15.0      12582
7.0        9472
6.0        2389
5.0         463
4.0          55
3.0           5
Name: 3, dtype: int64
0.0      591036
1.0      201265
-9999     80625
2.0       25661
3.0        1394
4.0          19
Name: 5, dtype: int64
2.0      345372
3.0      305695
1.0      129345
-9999    103368
0.0       16220
Name: 6, dtype: int64
24.0     358970
23.0     288886
22.0     110779
-9999    108418
21.0      27376
20.0       4856
19.0        654
18.0         54
17.0          7
Name: 7, dtype: int64
8.0      253688
9.0      211470
7.0      179146
6.0       82909
10.0      79462
-9999     59956
5.0       26457
4.0        5909
3.0         904
2.0          94
1.0           5
Name: 9, dtype: int64
0.0      580328
1.0      213718
-9999    105954
Name: 10, dtype: int64
17.0     190579
18.0     181433
16.0     141921
-9999    114703
19.0     108655
15.0      79822
14.0      34825
20.0      31262
13.0      12282
12.0       3497
11.0        845
10.0        148
9.0          25
8.0           3
Name: 15, dtype: int64
17.0     185829
16.0     169022
18.0     145916
15.0     114700
-9999     95691
19.0      72081
14.0      61217
13.0      26261
20.0      16929
12.0       9073
11.0       2568
10.0        569
9.0         115
8.0          23
7.0           6
Name: 17, dtype: int64
3.0      202795
4.0      170033
2.0      165311
5.0      102677
-9999     92278
1.0       82268
6.0       45654
0.0       18855
7.0       15457
8.0        3835
9.0         719
10.0        108
12.0          5
11.0          5
Name: 18, dtype: int64
3.0      157860
4.0      156841
5.0      125250
2.0      117958
-9999     96029
6.0       83539
1.0       59166
7.0       47406
8.0       23957
0.0       14620
9.0       10843
10.0       4246
11.0       1575
12.0        481
13.0        155
14.0         53
15.0         14
16.0          5
19.0          1
17.0          1
Name: 21, dtype: int64
4.0      184498
5.0      178581
3.0      135397
6.0      126743
-9999     86128
2.0       67238
7.0       65641
8.0       24972
1.0       20022
9.0        6704
0.0        2696
10.0       1246
11.0        126
12.0          8
Name: 22, dtype: int64
2.0      341256
3.0      208648
1.0      185081
-9999    131388
0.0       33627
Name: 23, dtype: int64
5.0      170815
6.0      151530
4.0      146322
7.0      106845
3.0       93727
-9999     76619
8.0       59138
2.0       42283
9.0       26539
1.0       12026
10.0       9358
11.0       2599
0.0        1512
12.0        584
13.0         85
14.0         17
15.0          1
Name: 24, dtype: int64
14.0     157175
13.0     140886
15.0     140783
12.0     102631
16.0      97105
-9999     76446
11.0      61695
17.0      50806
10.0      30423
18.0      19083
9.0       12352
19.0       4452
8.0        4181
7.0        1153
20.0        518
6.0         260
5.0          45
4.0           4
3.0           2
Name: 26, dtype: int64
13.0     131659
14.0     121083
12.0     120636
-9999    107409
11.0      93910
15.0      93770
10.0      61425
16.0      60097
9.0       34196
17.0      31561
8.0       15746
18.0      13622
7.0        6246
19.0       4570
6.0        2046
20.0       1133
5.0         496
21.0        242
4.0         104
22.0         27
3.0          19
2.0           2
23.0          1
Name: 27, dtype: int64
3.0      193497
2.0      174728
4.0      150067
-9999    113008
1.0       98647
5.0       87037
6.0       38510
0.0       26141
7.0       13469
8.0        3891
9.0         837
10.0        144
11.0         20
12.0          4
Name: 29, dtype: int64
0.0      495210
1.0      264251
-9999     78357
2.0       55990
3.0        5862
4.0         323
5.0           7
Name: 30, dtype: int64
4.0      322684
3.0      226125
5.0      184863
2.0       79333
-9999     72053
1.0       13964
0.0         978
Name: 31, dtype: int64
4.0      209029
3.0      201056
5.0      144172
2.0      124376
-9999     79065
6.0       66452
1.0       45102
7.0       19796
0.0        7329
8.0        3347
9.0         276
Name: 32, dtype: int64
3.0      191500
4.0      177747
2.0      141769
5.0      122343
-9999     84897
1.0       65652
6.0       64255
7.0       26390
0.0       14335
8.0        8486
9.0        2142
10.0        414
11.0         62
12.0          7
13.0          1
Name: 36, dtype: int64
1.0      348555
0.0      283107
2.0      143005
-9999    105538
3.0       19795
Name: 44, dtype: int64
11.0     306340
12.0     241953
10.0     177647
-9999     93753
9.0       62432
8.0       14947
7.0        2608
6.0         287
5.0          32
4.0           1
Name: 45, dtype: int64
0.0      666475
1.0      147149
-9999     86376
Name: 47, dtype: int64
4.0      188813
3.0      160623
5.0      159037
6.0       99320
2.0       93318
-9999     92006
7.0       46849
1.0       33276
8.0       16331
0.0        5258
9.0        4246
10.0        808
11.0         98
12.0         16
13.0          1
Name: 48, dtype: int64
3.0      289481
4.0      213372
2.0      195458
1.0       66186
5.0       63268
-9999     63239
0.0        8996
Name: 50, dtype: int64
15.0     136206
14.0     128823
16.0     120763
13.0     102502
-9999    101394
17.0      87499
12.0      68677
18.0      51739
11.0      38774
19.0      23436
10.0      18286
20.0       8402
9.0        7490
8.0        2607
21.0       2162
7.0         685
22.0        321
6.0         166
5.0          36
23.0         27
4.0           5
Name: 51, dtype: int64

In [12]:
for i in cat_var:
    clf_data.loc[clf_data[i].value_counts()[clf_data[i]].values < 1000, i] = 'Rare_value'

In [13]:
for i in cat_var:
     print(clf_data[i].value_counts(dropna=False))

13.0          406337
12.0          287345
11.0           93894
-9999          91079
10.0           18588
9.0             2504
Rare_value       253
Name: 2, dtype: int64
12.0          192149
11.0          185130
13.0          137102
10.0          131410
9.0            70897
-9999          68450
14.0           60891
8.0            29005
15.0           12582
7.0             9472
6.0             2389
Rare_value       523
Name: 3, dtype: int64
0.0           591036
1.0           201265
-9999          80625
2.0            25661
3.0             1394
Rare_value        19
Name: 5, dtype: int64
2.0      345372
3.0      305695
1.0      129345
-9999    103368
0.0       16220
Name: 6, dtype: int64
24.0          358970
23.0          288886
22.0          110779
-9999         108418
21.0           27376
20.0            4856
Rare_value       715
Name: 7, dtype: int64
8.0           253688
9.0           211470
7.0           179146
6.0            82909
10.0           79462
-9999          59956
5.0            26457
4.0             5909
Rare_value      1003
Name: 9, dtype: int64
0.0      580328
1.0      213718
-9999    105954
Name: 10, dtype: int64
17.0          190579
18.0          181433
16.0          141921
-9999         114703
19.0          108655
15.0           79822
14.0           34825
20.0           31262
13.0           12282
12.0            3497
Rare_value      1021
Name: 15, dtype: int64
17.0          185829
16.0          169022
18.0          145916
15.0          114700
-9999          95691
19.0           72081
14.0           61217
13.0           26261
20.0           16929
12.0            9073
11.0            2568
Rare_value       713
Name: 17, dtype: int64
3.0           202795
4.0           170033
2.0           165311
5.0           102677
-9999          92278
1.0            82268
6.0            45654
0.0            18855
7.0            15457
8.0             3835
Rare_value       837
Name: 18, dtype: int64
3.0           157860
4.0           156841
5.0           125250
2.0           117958
-9999          96029
6.0            83539
1.0            59166
7.0            47406
8.0            23957
0.0            14620
9.0            10843
10.0            4246
11.0            1575
Rare_value       710
Name: 21, dtype: int64
4.0           184498
5.0           178581
3.0           135397
6.0           126743
-9999          86128
2.0            67238
7.0            65641
8.0            24972
1.0            20022
9.0             6704
0.0             2696
10.0            1246
Rare_value       134
Name: 22, dtype: int64
2.0      341256
3.0      208648
1.0      185081
-9999    131388
0.0       33627
Name: 23, dtype: int64
5.0           170815
6.0           151530
4.0           146322
7.0           106845
3.0            93727
-9999          76619
8.0            59138
2.0            42283
9.0            26539
1.0            12026
10.0            9358
11.0            2599
0.0             1512
Rare_value       687
Name: 24, dtype: int64
14.0          157175
13.0          140886
15.0          140783
12.0          102631
16.0           97105
-9999          76446
11.0           61695
17.0           50806
10.0           30423
18.0           19083
9.0            12352
19.0            4452
8.0             4181
7.0             1153
Rare_value       829
Name: 26, dtype: int64
13.0          131659
14.0          121083
12.0          120636
-9999         107409
11.0           93910
15.0           93770
10.0           61425
16.0           60097
9.0            34196
17.0           31561
8.0            15746
18.0           13622
7.0             6246
19.0            4570
6.0             2046
20.0            1133
Rare_value       891
Name: 27, dtype: int64
3.0           193497
2.0           174728
4.0           150067
-9999         113008
1.0            98647
5.0            87037
6.0            38510
0.0            26141
7.0            13469
8.0             3891
Rare_value      1005
Name: 29, dtype: int64
0.0           495210
1.0           264251
-9999          78357
2.0            55990
3.0             5862
Rare_value       330
Name: 30, dtype: int64
4.0           322684
3.0           226125
5.0           184863
2.0            79333
-9999          72053
1.0            13964
Rare_value       978
Name: 31, dtype: int64
4.0           209029
3.0           201056
5.0           144172
2.0           124376
-9999          79065
6.0            66452
1.0            45102
7.0            19796
0.0             7329
8.0             3347
Rare_value       276
Name: 32, dtype: int64
3.0           191500
4.0           177747
2.0           141769
5.0           122343
-9999          84897
1.0            65652
6.0            64255
7.0            26390
0.0            14335
8.0             8486
9.0             2142
Rare_value       484
Name: 36, dtype: int64
1.0      348555
0.0      283107
2.0      143005
-9999    105538
3.0       19795
Name: 44, dtype: int64
11.0          306340
12.0          241953
10.0          177647
-9999          93753
9.0            62432
8.0            14947
7.0             2608
Rare_value       320
Name: 45, dtype: int64
0.0      666475
1.0      147149
-9999     86376
Name: 47, dtype: int64
4.0           188813
3.0           160623
5.0           159037
6.0            99320
2.0            93318
-9999          92006
7.0            46849
1.0            33276
8.0            16331
0.0             5258
9.0             4246
Rare_value       923
Name: 48, dtype: int64
3.0      289481
4.0      213372
2.0      195458
1.0       66186
5.0       63268
-9999     63239
0.0        8996
Name: 50, dtype: int64
15.0          136206
14.0          128823
16.0          120763
13.0          102502
-9999         101394
17.0           87499
12.0           68677
18.0           51739
11.0           38774
19.0           23436
10.0           18286
20.0            8402
9.0             7490
8.0             2607
21.0            2162
Rare_value      1240
Name: 51, dtype: int64

In [14]:
num_columns = [c for c in clf_data.columns if clf_data[c].dtype.name != 'object']
for i in num_columns:
    clf_data[i].fillna(9999, inplace=True)

In [15]:
# Разделим выборку на обучение и тест.
from sklearn.model_selection import train_test_split
clf_train_data, clf_test_data, clf_train_labels, clf_test_labels = train_test_split(clf_data, clf_target,
                                                                                    test_size=0.3, random_state=1)

In [16]:
clf_train_data = pd.get_dummies(clf_train_data)
clf_test_data = pd.get_dummies(clf_test_data)

In [17]:
print(clf_train_data.shape)
print(clf_train_labels.shape)
print(clf_test_data.shape)
print(clf_test_labels.shape)

(630000, 290)
(630000, 1)
(270000, 290)
(270000, 1)

In [18]:
clf_train_data = clf_train_data.values
clf_test_data = clf_test_data.values
clf_train_labels = clf_train_labels.values 
clf_test_labels = clf_test_labels.values

In [19]:
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

In [20]:
xgb = XGBClassifier(n_estimators=50, learning_rate=0.02, 
                    max_depth=20, subsample=0.9, 
                    colsample_bytree=1, colsample_bylevel=0.9, 
                    reg_alpha=0.1, reg_lambda=0.1, random_state=0, n_jobs=8, verbose=1)
xgb.fit(clf_train_data,clf_train_labels)
# печатаем значения правильности
print("AUC на обучающей выборке: {:.3f}".
      format(roc_auc_score(clf_train_labels, xgb.predict_proba(clf_train_data)[:, 1])))
print("AUC на контрольной выборке: {:.3f}".
      format(roc_auc_score(clf_test_labels, xgb.predict_proba(clf_test_data)[:, 1])))

AUC на обучающей выборке: 0.987
AUC на контрольной выборке: 0.795